table{
    width: 90%;
}
table tr td,
table tr th{
    text-align: center;
    font-size: 1.10rem;
}
table tr th{
  font-size: 1.15em;
  background: #ff385c;
  color: #fff;
}
table tr td a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #222;
}
table tr td.hover:hover{
    background: rgb(214, 214, 214);
}
table tr td a i {
    font-size: 1.3em;
    cursor: pointer;
}
table tr td i:hover td{
    background: grey;
}